<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" :class="playerCritical" :style="{width: withPlayer}"></div>
                </div>
                <div>{{ withPlayer }}</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" :class="monsterCritical" :style="{width: withMonster}"></div>
                </div>
                <div>{{ withMonster }}</div>
            </div>
        </div>
        <div class="panel result" v-if="finesh">
            <div class="win" v-if="lifeMonster <= 0">Você ganhou!!! :)</div>
            <div class="lose" v-if="lifePlayer <= 0">Você perdeu! :(</div>
        </div>
        <div class="panel buttons">
            <template v-if="startGame">
                <button class="btn attack" @click="attack">Ataque</button>
                <button class="btn especial-attack" @click="specialAttack">Ataque Especial</button>
                <button class="btn heal" @click="heal">Curar</button>
                <button class="btn give-up" @click="start">Desistir</button>
            </template>
            <button v-if="!startGame" class="btn new-game" @click="start">Iniciar Jogo</button>
        </div>
        <div class="panel logs" v-if="logs.length > 0">
            <ul>
                <li v-for="(log, index) in logs" :class="log.classLog">
                    {{ log.message }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
